  #art_date {
    margin-bottom: 5px;
  }
  #art_margin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  #art_margin > * {
    margin: 5px;
  }
    #art_generator {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  #art_generator_canvas {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .row {
    display: flex;
  }
  .box {
    background-color: black;
    height:10px;
    width:10px;
  }
  .path_div {
    background-color: white;
    height:10px;
    width:10px;
  }